<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
    <add key="token" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK="/>
  </appSettings>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
    
      </namespaces>
    </pages>
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  <runtime>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpConfig" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpConfig"
            contract="Maplink.AddressFinderSoap" name="AddressFinderSoap" />
        <endpoint address="http://services.maplink.com.br/webservices/v3/route/route.asmx"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpConfig"
            contract="MaplinkRoute.RouteSoap" name="RouteSoap" />
    </client>
  </system.serviceModel>
</configuration>